%img{:src => image_path('100/demo.png')}
%br
HALLO LISTNAV

%hello

#hallo_react

= javascript_pack_tag 'miq_plugin_example/hallo_react'

:javascript
  ManageIQ.angular.rxSubject.subscribe(function(event) {
    var eventType = event.type;

    console.debug(event);

    if (eventType === 'demo') {
    }
  });

  miq_bootstrap('hello');

  //ReactDOM.render(React.createElement(HalloReact, { context: $('body') }), document.getElementById('hallo_react'));
  window.bind_me();
